.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px; /* Fixed width for alignment */
  cursor: pointer;
}

.icon-image {
  font-size: 35px; /* Default icon size */
  margin-bottom: 5px;
}

.icon-label {
  color: white;
  font-size: 12px;
  word-wrap: break-word;
  width: 100%;
}